/* Reduce the width of input type = text */

.form-control,
.custom-select
{
	width: 250px;
	display: block;
	margin: 10px 0;
}


/*Responsive form*/
@media all and (max-width: 350px)
{
	.p-5 {
		padding: 10px 20px !important;
	}
}
